{% extends 'base.html.twig' %}


{% block body %}
{{ navigation.display() }}
<div class="container">
    <h1 class="my-5">Votre réservation n°{{booking.id}}</h1>

    <div class="row">
        <div class="col">
            <div class="card bg-light">
                {{ form_start(form) }}
                <div class="card-header">
                    <h4>Réservation</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Date et l'heure d'arrivée : {{ booking.startDate | date('d/m/Y H:i') }}
                    </p>
                    <p class="card-text">
                        Date et l'heure de départ : {{ booking.endDate | date('d/m/Y H:i') }}
                    </p> 
                    <p class="card-text my-4">
                        Nombre de jours : {{ booking.getDuration() }}
                    </p>   
                    <div class="formfield-select--container my-4">
                        {{ form_widget(form.parking) }}
                    </div>
                    <div class="form-control">
                        <div class="form-check">
                            {{ form_widget(form.advantages)}}
                        </div>
                    </div>
                    <p class="card-text my-4">
                        Montant de la réservation : <strong>{{ booking.amount }} &euro;</strong>
                    </p> 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Vos coordonnées</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <p class="card-text">
                            Réservation au nom de : {{ booking.user.fullName }}
                        </p>
                        <p class="card-text">
                            email : {{ booking.user.email }}
                        </p>
                        <p class="card-text">
                            addresse : {{ booking.user.adress }}
                        </p>
                        <p class="card-text">
                            Ville : {{ booking.user.city }} {{ booking.user.zipcode }}
                        </p>
                        <p class="card-text">
                            Pays : {{ booking.user.pays }}
                        </p>
                        <p class="card-text">
                            Télephone : {{ booking.user.phone1 }}
                        </p>
                        {% if booking.user.phone2 is not empty %}
                            <p class="card-text">
                                Téléphone 2 : {{ booking.user.phone2 }}
                            </p>
                        {% endif %}
                        {% if booking.user.organisation is not empty %}
                        <p class="card-text">
                            Organisation : {{ booking.user.organisation }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-light mt-5">
                <div class="card-header">
                    <h4 class="card-title">Votre véhicule</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="marque">{{ form_label(form.marque) }}</label>
                            {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.marque, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modele">{{ form_label(form.modele) }}</label>
                            {{ form_widget(form.modele, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.modele, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plaque">{{ form_label(form.plaque) }}</label>
                            {{ form_widget(form.plaque, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.plaque, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light mt-5">
                <div class="card-header">
                    <h4 class="card-title">Information sur votre vol</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="destination">{{ form_label(form.destination) }}</label>
                            {{ form_widget(form.destination, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.destination, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberVolAller">Numero du vol Aller</label>
                            {{ form_widget(form.numberVolAller, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.numberVolAller, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberVolRetour">Numero du vol Retour</label>
                            {{ form_widget(form.numberVolRetour, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                             {{ form_errors(form.numberVolRetour, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right my-5">
        <button type="submit" class="genric-btn primary radius ">Passer à l'étape de paiement !</button>
    </div>
    {{ form_end(form) }}
    <div class="clearfix my-5"></div>
</div>

{% endblock body %}
{% block javascripts %}
<script>
$(document).ready(function(){

	var input = $('#booking_edit_advantages_1');
    var label = $("label[for=booking_edit_advantages_1]");
	var balise = $('<div class="form-check"></div>').prependTo(input.parent());
	input.appendTo(balise);
    label.appendTo(balise);

    var input2 = $('#booking_edit_advantages_2');
    var label2 = $("label[for=booking_edit_advantages_2]");
	var balise2 = $('<div class="form-check"></div>').prependTo(input2.parent());
	input2.appendTo(balise2);
    label2.appendTo(balise2);

    var input3 = $('#booking_edit_advantages_3');
    var label3 = $("label[for=booking_edit_advantages_3]");
	var balise3 = $('<div class="form-check"></div>').prependTo(input3.parent());
	input3.appendTo(balise3);
    label3.appendTo(balise3);

    var input4 = $('#booking_edit_advantages_4');
    var label4 = $("label[for=booking_edit_advantages_4]");
	var balise4 = $('<div class="form-check"></div>').prependTo(input4.parent());
	input4.appendTo(balise4);
    label4.appendTo(balise4);

    var input4 = $('#booking_edit_advantages_4');
    var label4 = $("label[for=booking_edit_advantages_4]");
	var balise4 = $('<div class="form-check"></div>').prependTo(input4.parent());
	input4.appendTo(balise4);
    label4.appendTo(balise4);
    
    var input5 = $('#booking_edit_advantages_5');
    var label5 = $("label[for=booking_edit_advantages_5]");
	var balise5 = $('<div class="form-check"></div>').prependTo(input5.parent());
	input5.appendTo(balise5);
    label5.appendTo(balise5);

});
</script>
{% endblock %}